<!DOCTYPE html>
<html>

<head>
  <title>Cadastrar Livro para Doação</title>
</head>

<body>
  <h1>Cadastrar Livro para Doação</h1>
  <form action="/cadastrar_livro_doacao" method="post">
    <label for="titulo">Título:</label><br>
    <input type="text" id="titulo" name="titulo"><br>
    <label for="autor">Autor:</label><br>
    <input type="text" id="autor" name="autor"><br>
    <label for="editora">Editora:</label><br>
    <input type="text" id="editora" name="editora"><br>
    <label for="numero_paginas">Número de Páginas:</label><br>
    <input type="number" id="numero_paginas" name="numero_paginas"><br><br>
    <input type="submit" value="Cadastrar Livro">
  </form>
</body>

</html>