<!DOCTYPE html>
<html>

<head>
  <title>Listagem de Usuários - BiblioTech</title>
</head>

<body>
  <h1>Listagem de Usuários</h1>
  <table border="1">
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th>Ações</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.cpf }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.telefone }}</td>
      <td>{{ usuario.endereco }}</td>
      <td>
        <a href="#">Editar</a> | <a href="#">Excluir</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>