<!DOCTYPE html>
<html>

<head>
  <title>Promover Evento de Leitura - BiblioTech</title>
</head>

<body>
  <h1>Promover Evento de Leitura</h1>
  <form action="/promover_evento_leitura" method="post">
    <label for="titulo_evento">Título do Evento:</label><br>
    <input type="text" id="titulo_evento" name="titulo_evento" required><br><br>

    <label for="descricao_evento">Descrição do Evento:</label><br>
    <textarea id="descricao_evento" name="descricao_evento" required></textarea><br><br>

    <button type="submit">Promover Evento</button>
  </form>
</body>

</html>